/* Variables */
:root {
  --main-bg-color: #f3e7cc;
  --content-color: #ecdebb;
  --border-color: #444444;

  --link-color: rgb(72, 92, 203);
  --link-hover-color: rgb(148, 39, 39);
  --link-visited-color: rgb(26, 20, 136);

  --font-size-base: 15px;
}

/* Global Styles */
html {
  background-color: var(--main-bg-color);
  font-size: var(--font-size-base);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Serif", serif;
  line-height: 1.35;
}

/* Typography */
h1 {
  background-color: var(--content-color);
  padding: 0.25em;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6em;
}

h2 {
  background-color: var(--content-color);
  padding: 0.25em;
  margin: 0.5em auto;
  text-align: center;
  font-size: 1.2em;
}

/* Layout Components */
div.post {
  background-color: var(--content-color);
  border: solid var(--border-color);
  padding: 0.25em;
  margin-top: 1.0em;
  margin-left: auto;
  margin-bottom: 1.0em;
  margin-right: auto;
  text-align: center;
  font-size: 1.25em;
  max-width: 60%;
}

pre {
  border: 1px solid #ddd;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  text-align: left;
}

header {
  background-color: var(--content-color);
  border: solid var(--border-color);
  padding: 0.25em;
  margin: 1.0em auto auto;
  text-align: center;
  font-size: 1.0em;
  max-width: 50%;
}

footer {
  background-color: var(--content-color);
  border: dashed var(--border-color);
  margin-top: auto;
  text-align: center;
  font-size: 1.25em
}

/* Navigation */
nav {
  background-color: var(--content-color);
  border: dashed var(--border-color);
  margin: 1.0em 0.5em 0.5em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#about {
  background-color: var(--content-color);
  border: solid var(--border-color);
  padding: 0.25em;
  margin: 1.0em auto;
  text-align: center;
  font-size: 1.25em;
  max-width: 50%;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline dotted;
}

div.summary {
  background-color: var(--content-color);
}

/* Responsive Design */
@media (max-width: 768px) {

  .post,
  .experience,
  #about {
    max-width: 90%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}